//
// Base
//


html {
  font-size: 125%; // 20px = 20/16(browsers default font size) = 125
  font-family: sans;
}

body {
  @include flex-center;
  flex-direction: column;
}

.container {
  width: 60rem; // 1200 px
  max-width: 100%;
}
