//
// Variables
//


$color-white: #fff;
$color-black: #000;

$color-greyish-blue: #cfd6e6;

$color-light-grey-1: #fbfbfc;

$color-dark-grey-1: #aaaaaa;
$color-dark-grey-2: rgba(#888, .95);

$table-cell-padding: 1.5rem;

$border-radius: .25rem;
